[submodule "ext/mavis"]
	path = ext/mavis
	url = git@github.com:ArchitectXplore/mavis.git
[submodule "ext/qemu"]
	path = ext/qemu
	url = git@github.com:ArchitectXplore/qemu.git
[submodule "ext/map"]
	path = ext/map
	url = git@github.com:ArchitectXplore/map.git
[submodule "ext/iceoryx"]
	path = ext/iceoryx
	url = git@github.com:eclipse-iceoryx/iceoryx.git
