[submodule "ext/mavis"]
	path = ext/mavis
	url = https://github.com/ArchitectXplore/mavis.git
[submodule "ext/qemu"]
	path = ext/qemu
	url = https://github.com/ArchitectXplore/qemu.git
[submodule "ext/gem5"]
	path = ext/gem5
	url = https://github.com/ArchitectXplore/gem5.git
[submodule "ext/pybind11"]
	path = ext/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "ext/map"]
	path = ext/map
	url = https://github.com/ArchitectXplore/map.git
